.content-wrapper{
  max-width: 1200px;
  margin: auto;
  padding:24px;
}
.images{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 33px 32px;
  padding-bottom: 32px;
}
.images img{
  object-fit: cover;
  height: 350px;
  width: 100%;

}
